<div class="row">
  <div class="col-lg-offset-1 index-container">
  <% @profiles.each do |profile| %>
    <div class="col-lg-2 panel image-panel">
      <div class="row">
        <%= image_tag("test_photo.jpg", width:"100%")%>
      </div>
      <div class="row index-panel">
        <div class="col-lg-offset-2 col-lg-4">
        <%= link_to profile.username, profile %>
        </div>
        <div class="col-lg-4">
        this
        </div>
        </div>
    </div>
  <% end %>
  </div>
</div>
